.exploratory-list {
    position: relative;
    min-height: 600%;
    margin: 0 3rem;

    .bulb {
        position:fixed;
    }

    .importance-0 {
        width: 18rem;
        height: 18rem;
    }

    .importance-1 {
        width: 10rem;
        height: 10rem;
    }

    .importance-2 {
        width: 2rem;
        height: 2rem;

        span {
            display: none;
        }
    }
}