.exploratory-list {
    position: relative;
    min-height: 100%;

    .bulb {
        position:absolute;
    }

    .importance-0 {
        width: 15rem;
        height: 15rem;
    }

    .importance-1 {
        width: 10rem;
        height: 10rem;
    }

    .importance-2 {
        width: 5rem;
        height: 5rem;
    }
}