.exploratory-list {
    li {

        a {
            display:block;
            position:absolute;
            border-radius: 50%;
            // height:12rem;
            // width:12rem;
            text-transform: uppercase;
            font-size:1.2em;
            background-color: @violet;

            text-decoration: none;
            color:#000;
            span {
                display:block;
                position:absolute;
                top:47%;
                width:100%;
                text-align: center;

            }
        }


            &:first-child a {
                left: 400px;
            }
    }

    .importance-0 {
        width: 15rem;
        height: 15rem;
    }

    .importance-1 {
        width: 10rem;
        height: 10rem;
    }

    .importance-2 {
        width: 5rem;
        height: 5rem;
    }
}