
@import "variables.less";
@import "mixins.less";
@import "normalize.less";
@import "type.less";
@import "webfonts.less";


body {
    background: #2f2f2f;
    color: @gray-light;
    font-familiy: Georgia;
    font-size: 1rem;

}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 1.5625em;
	padding-right: 1.5625em;
	max-width: 63em;
}

.visuallyhidden { // leses opp av skjermleser
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


.siteheader {
	position:relative;
}

.closebtn { // lukkeknappen i øvre høyre hjørne på kortvisning
	display:inline-block;
	&:after {
		padding:1rem 1.2rem;
		line-height:1;
		border-radius: 50%; // ish
		background:@green-light;
		display:inline-block;
		position:absolute;
		top:0;
		right:0;
		content:'X';
		color:#fff;
		font-size:2rem;
		
		font-weight:bold;
	}
}

.logo {
	text-align: center;
}

.group:before, .group:after { // clearfix
    content: '';
    display: table;
}
.group:after {
    clear: both;
}


