
@import "variables.less";
@import "mixins.less";
@import "normalize.less";
@import "type.less";


body {
    background: #1b1b1b;
    color: white;
    font-familiy: Georgia;
    font-size: 17px;
}


h1 {
	font-size: 5em;
	color:yellow;
}