
//
//  Card detailed view
// ----------------------------------------

.detail { // kortvisning
  header, .article-body, aside {
    padding:2rem;
  }
  header, aside {
    background: @gray-darker;
  }

  figure {
    padding:0;
    margin:0;
    img {
        max-width:100%;
        height:auto;
        vertical-align: bottom;
      }
  }


}

.article-body {
  background: @gray-light;
  color:@gray-darker;
}


