nav {
    padding: 1rem 0;

    .closebtn { // lukkeknappen i øvre høyre hjørne på kortvisning
        display:inline-block;
        position:absolute;
        width:4rem;
        height:4rem;
        right:1.5625em; // lik padding på containeren
        border-radius: 50%;         
        background: @blue-light url('../images/x-white.png') no-repeat center center;
    }

    .logo-container {
        text-align: center;
        position: relative;
    }

    h1 {
        line-height: 1em;
        margin: 0;
        padding: 0;
    }

    .toggle-nav-mode {
        position: absolute;
        top: 0;
        right: 1.5625em;
    }

    .nav-mode {
        display: inline-block;
        padding: 14px 0 14px 0;
        cursor: pointer;
        border:5px solid transparent;
        border-radius: 50%;
        height:42px;
        width:42px;
        background: #464646;
        &.icon-grid {
            background: url('../images/icon-grid-view.png') no-repeat center center;
        }
        &.icon-bubble {
            background: url('../images/icon-bubble-view.png') no-repeat center center;
        }
    }

    .nav-mode.checked {
        border-color: #a4a4a4;
    }


}