// Mobile first

.card-list {
    list-style: none;
    margin:0;
    padding:0;
}

.grid-view {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: row wrap;
   align-content: flex-end;
   margin-right:-1rem;

    margin: 0 auto;
    padding: 0;

    li {
        display:flex;
        margin-right:1rem;
        margin-bottom:1rem;      
    }

    a {
        display:block;
        position:relative;
        border-radius: 50%;
        height:10rem;
        width:10rem;
        text-transform: uppercase;
        font-size:1.2rem;

        text-decoration: none;
        color:#000;
        span {
            display:block;
            position:absolute;
            top:50%;
            width:100%;
            margin-top: -0.6rem;
            text-align: center;

        }

    }

}




// Pad
@media (min-width: 48em) { // 48em = 768px

    // Alt som gjelder fra pad og opp. 
    // Flexbox herfra og større skjerm

    .grid-view {
        a {
            // Større sirkler på større skjerm
            // Eventuelt: Bumpe opp font (tekst OG sirkel blir større?)
            height:12rem;
            width:12rem;
        }
    }



}


// Desktop

@media (min-width: 60em) { // 60em = 960px

    // Egne ting kun for større flater





}







