// Mobile first

.card-list {
    list-style: none;
    margin:0;
    padding:0;
}

.grid-view {
   display: flex;
   display:-webkit-flex;

   flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   justify-content: space-around;

    li {
        display:flex;
        display:-webkit-flex;
        margin-bottom:2rem; // tilfeldig valgt-ish avstand
        &:nth-child(n+4)  {
            margin-right:0;
        }
    }

    .bulb {
        height:10rem;
        width:10rem;
    }

}




// Pad
@media (min-width: 48em) { // 48em = 768px

    // Alt som gjelder fra pad og opp.
    // Flexbox herfra og større skjerm

    .grid-view {
        a {
            // Større sirkler på større skjerm
            // Eventuelt: Bumpe opp font (tekst OG sirkel blir større?)
            height:12rem;
            width:12rem;
        }
        li {

        }
    }



}


// Desktop

@media (min-width: 60em) { // 60em = 960px

    // Egne ting kun for større flater





}







