// Mobile first

.card-list {
    list-style: none;
    margin:0;
    padding:0;
}

.grid-view {
   display: flex;
   display:-webkit-flex;

   flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   
   //flex-direction: row;
   //flex-flow: row wrap;
   //align-content: flex-end;


   //align-items: center;
   //justify-content: center;

    li {
        display:flex;
        display:-webkit-flex;
        //flex: 1 1 auto;
        margin-right:2rem;
        margin-bottom:2rem;      
    }

    a {
        display:block;
        position:relative;
        border-radius: 50%;
        height:10rem;
        width:10rem;
        text-transform: uppercase;
        font-size:1.2rem;
        font-weight: 600; // medium

        text-decoration: none;
        color:#000;
        span {
            display:block;
            position:absolute;
            top:50%;
            width:100%;
            margin-top: -0.6rem;
            text-align: center;

        }

    }

}




// Pad
@media (min-width: 48em) { // 48em = 768px

    // Alt som gjelder fra pad og opp. 
    // Flexbox herfra og større skjerm

    .grid-view {
        a {
            // Større sirkler på større skjerm
            // Eventuelt: Bumpe opp font (tekst OG sirkel blir større?)
            height:12rem;
            width:12rem;
        }
        li {

        }
    }



}


// Desktop

@media (min-width: 60em) { // 60em = 960px

    // Egne ting kun for større flater





}







